
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Let there be light?</p>
    <form>
        <input type="button" value="Toggle Overhead Lights">
        <input type="button" value="Toggle Desk Lamp">
        <input type="button" value="Toggle Bedroom Lighting">
    </form>
  </body>
</html>