
<% layout('layout') -%>
    <h1><%= title %></h1>
    <p>Let there be light?</p>
    <div style="display: inline;">
	    <a href="/desk" id="desk" class="btn btn-lg btn-primary">Toggle Desk Lamp</a>
	    <a href="/bedroom" id="bedroom" class="btn btn-lg btn-primary">Toggle Bedroom Lighting</a>
	    <a href="/overhead" id="overhead" class="btn btn-lg btn-primary">Toggle Overhead Lighting</a>
    </div>
