<!DOCTYPE html>
<html>
	<head>
      <meta charset="utf-8">
    	<title>It's <%=title%></title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="css/bootstrap.css" rel="stylesheet">
      <link href="css/flat-ui.css" rel="stylesheet">
      <link href="css/style.css" rel="stylesheet">
      <link rel="shortcut icon" href="images/favicon.ico">
      <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
      <![endif]-->
  	</head>
  	<body>
    	<header>
     		<%-blocks.header%>
    	</header>
    	<section>
    		<div class="container">
      			<%-body -%>
      		</div>
    	</section>
	    <footer>
	    	<%-blocks.footer%>
	    </footer>
      <script src="js/jquery-1.9.1.min.js"></script>
      <script src="js/jquery-ui-1.10.0.custom.min.js"></script>
      <script src="js/jquery.dropkick-1.0.0.js"></script>
      <script src="js/custom_checkbox_and_radio.js"></script>
      <script src="js/custom_radio.js"></script>
      <script src="js/jquery.tagsinput.js"></script>
      <script src="js/bootstrap-tooltip.js"></script>
      <script src="js/jquery.placeholder.js"></script>
      <script src="js/video.js"></script>
      <script src="js/application.js"></script>
      <!--[if lt IE 8]>
        <script src="js/icon-font-ie7.js"></script>
        <script src="js/icon-font-ie7-24.js"></script>
    <![endif]-->      
  </body>
</html>